{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
